<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicTask</title>
</head>

<body>

    <div class="navbar bg-base-200 shadow-sm mb-4">
        <a class="btn btn-ghost text-xl">EpicTask</a>
        <div class="flex-1">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <details>
                        <summary>Lang</summary>
                        <ul class="bg-base-100 rounded-t-none p-2">
                            <li><a href="?lang=pt_BR">Português</a></li>
                            <li><a href="?lang=en_US">English</a></li>
                            <li><a href="?lang=fr">Français</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="avatar do usuário" th:src="${user.attributes.avatar_url}" />
                </div>
            </div>
            <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between" th:text="${user.attributes.email}"></a>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <a href="/tasks/form" class="btn btn-primary m-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-plus-icon lucide-circle-plus">
            <circle cx="12" cy="12" r="10" />
            <path d="M8 12h8" />
            <path d="M12 8v8" />
        </svg>
        <span th:text="#{task.new}"></span>
    </a>

    <div th:if="${message != null}" role="alert" class="alert alert-success alert-soft m-4">
        <span th:text="${message}"></span>
    </div>

    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center">

        <div th:each="task : ${tasks}" class="card card-border bg-base-300 w-96 relative">
            <div th:if="${task.user != null}" class="avatar absolute top-4 right-4">
                <div class="w-12 rounded-full">
                    <img th:src="${task.user.avatar}" />
                </div>
            </div>
            <div class="badge badge-accent m-4" th:text="${task.score}"></div>
            <div class="card-body items-center">
                <h2 class="card-title" th:text="${task.title}"></h2>
                <p th:text="${task.description}"></p>
                <div class="radial-progress bg-primary text-primary-content border-primary border-4"
                    th:style="${'--value:' + task.status}" aria-valuenow="70" role="progressbar"
                    th:text="${task.status + '%'}">
                    70%
                </div>
            </div>
            <div class="card-actions justify-end m-4">
                <form method="POST" th:action="${'/tasks/' + task.id}">
                    <input type="hidden" name="_method" value="delete" />
                    <button class="btn btn-error btn-soft" th:text="#{delete}"></button>
                </form>
                <form method="POST" th:action="${'/tasks/' + task.id + '/catch'}">
                    <input type="hidden" name="_method" value="put" />
                    <button class="btn btn-warning btn-soft">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-icon lucide-hand"><path d="M18 11V6a2 2 0 0 0-2-2a2 2 0 0 0-2 2"/><path d="M14 10V4a2 2 0 0 0-2-2a2 2 0 0 0-2 2v2"/><path d="M10 10.5V6a2 2 0 0 0-2-2a2 2 0 0 0-2 2v8"/><path d="M18 8a2 2 0 1 1 4 0v6a8 8 0 0 1-8 8h-2c-2.8 0-4.5-.86-5.99-2.34l-3.6-3.6a2 2 0 0 1 2.83-2.82L7 15"/></svg>
                    </button>
                </form>
                <form method="POST" th:action="${'/tasks/' + task.id + '/add'}">
                    <input type="hidden" name="_method" value="put" />
                    <button class="btn btn-info btn-soft">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-fast-forward-icon lucide-fast-forward"><path d="M12 6a2 2 0 0 1 3.414-1.414l6 6a2 2 0 0 1 0 2.828l-6 6A2 2 0 0 1 12 18z"/><path d="M2 6a2 2 0 0 1 3.414-1.414l6 6a2 2 0 0 1 0 2.828l-6 6A2 2 0 0 1 2 18z"/></svg>
                    </button>
                </form>
            </div>
        </div>

    </main>

</body>

</html>